{% extends "base.html" %}
{% block subtitle %}
    Home
{% endblock subtitle %}

{% block content %}
<div class="jumbotron">
    <h1>OxD Python Demo Site</h1>
    <p>This is a demo site showcasing the OxD Python Library</p>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Click auhtorize to fetch authorization code and redirect you to the authorization page.</p>
        <a class="btn btn-primary" href="{{url_for('authorize')}}">Authorize</a>
    </div>
</div>
{% endblock content %}
